<div class="friendlist">
    <!-- <div class="currentuser">
        <div class="container">
            <img src="">
            <p>{{currentUser.name}}</p>
            <p>{{currentuser.sign}}</p>
        </div>
    </div> -->
    <div class="container">
        <router-outlet class="content"></router-outlet>
        <div class="nav">
            <ul>
                <li><a routerLink="chat" routerLinkActive="active"><i class="iconfont icon-chat"></i></a></li>
                <li><a routerLink="friends"><i class="iconfont icon-friends"></i></a></li>
                <li><a routerLink="settings"><i class="iconfont icon-settings"></i></a></li>                    
            </ul>
        </div>
    </div>

</div>